header {
    background: #FFFFFF;
    background-image: url(flywheel.jpg);
    height: 150px;
}

body{
    padding: 5px;
    margin: 5%;
}

h1 {
    color: #fdfbfb;
    font-variant: small-caps;
    text-align: center;
    font-size: 45px;
}

h2 {
    color: #5e0a96;
    font-variant: small-caps;
}

section {
    background: #afacac;
}

nav a {
    background: #e2e1e1;
    color: #000000;
    border-radius: 15px;
    font-size: 20px;
    text-decoration: none;
    margin: 8%;
    padding: 6px;
}

a.active{
    background-color: #d7a1ec;
}

aside {
    display: none;
}