header {
    background: #FFFFFF;
    background-image: url(flywheel.jpg);
    padding: 8px;
}

body{
    padding: 5px;
    margin: 5%;
}

h1 {
    color: #fdfbfb;
    font-variant: small-caps;
    text-align: center;
    font-size: 40px;
}

h2 {
    color: #5e0a96;
    font-variant: small-caps;
}

section {
    background: #FFFFFF;
}

nav a {
    background: #e2e1e1;
    color: #000000;
    border-radius: 15px;
    font-size: 20px;
    text-decoration: none;
    margin: 8%;
    padding: 6px;
}

a.active{
    background-color: #d7a1ec;
}

.right{
    display: inline-block;
    width: 70%;
    float: right;
}

.left {
    display: inline-block;   
    width: 25%;
    float: left;
}

.left > a > img{
    width: 200px;
}