header {
    background: #FFFFFF;
    background-image: url(flywheel.jpg);
    height: 150px;
    padding: 5px;
}

body{
    padding: 5px;
    margin: 5%;
    height: 100%;
}

main{
    height: 100%;
}

h1 {
    color: #fdfbfb;
    font-variant: small-caps;
    text-align: center;
    font-size: 40px;
}

h2 {
    color: #5e0a96;
    font-variant: small-caps;
    font-size: 200%;
}

section {
    background: #FFFFFF;
}

table{
    width: 80%;
    margin: 8%;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 15px;
}

th{
    background-color: #c97fe4;
    border-radius: 5px 5px 0 0;
    border-bottom-width: thick;
}
th, td{
    padding: 1%;
    border: 1px solid #000000;
}

td{
    opacity: 0.8;
}
p{
    font-size: 150%;
}

nav a {
    background: #e2e1e1;
    color: #000000;
    border-radius: 15px;
    font-size: 20px;
    text-decoration: none;
    margin: 8%;
    padding: 6px;
}

a.active{
    background-color: #d7a1ec;
}

.right{
    display: inline-block;
    width: 70%;
    float: right;
}

.left {
    display: inline-block;   
    width: 25%;
    float: left;
    background: #c97fe4;
    height: 100%;
}

.left > a > img{
    width: 70%;
    display: block;
    margin: 15%;
    border: 2px solid #000000;
}